<% include ../partials/header %>

    <div class="row">
        <h1 class="text-center">Edit <%= domain.domain.toLowerCase() %></h1>
        <div id="center-form">
            <form action="/dashboard/<%= domain._id %>?_method=PUT" method="POST">
                <p>This domain name will eventually be replaced with more fields ie: Set Reminder, remind before, remind on, etc.</p>
                <div class="form-group">
                    <input class="form-control" type="text" name="domain[domain]" placeholder="Domain Name EX: google.com">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">Update</button>
                </div>
            </form>
            <form action="/dashboard/<%= domain._id %>?_method=DELETE" method="POST">
                <div class="form-group"></div>
                    <button class="btn btn-danger btn-block">Delete</button>
                <div class="form-group"></div>
            </form>
            <a href="/dashboard">Go Back..</a>
        </div>
    </div>

<% include ../partials/footer %>