<!DOCTYPE html>
<html>
    <head>
        <title>Domain Monitor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        <span class="auth">
            <% if(!currentUser) { %>
                <a class="btn btn-sm btn-primary" href="/login">Login</a>
                <a class="btn btn-sm btn-primary" href="/register">Sign Up</a>
            <% } else { %>
                <a class="btn btn-sm btn-primary" href="/logout">Logout</a>
            <% } %>
        </span>
        <div class="center">
            <h1>Welcome to Domain Monitor</h1>
            <hr>
            <p>Your best source for tracking domain details.</p>
            <a href="/register" class="btn btn-lg btn-success">Get Started!</a>
            <a href="#" class="btn btn-lg btn-primary">Learn More</a>
        </div>
        <ul class="slideshow">
            <li></li>
        </ul>


<% include partials/footer %>