<!DOCTYPE html>
<html>
    <head>
        <title>Domain Monitor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <span class="auth">
            <a class="btn btn-sm btn-primary" href="/login">Login</a>
            <a class="btn btn-sm btn-primary" href="/register">Sign Up</a>
        </span>
        <div class="center">
            <h1>Welcome to Domain Monitor</h1>
            <hr>
            <p>Your best source for tracking domain details.</p>
            <a href="/register" class="btn btn-lg btn-success">Get Started!</a>
            <a href="#" class="btn btn-lg btn-primary">Learn More</a>
        </div>

        <img class="background" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?auto=format&fit=crop&w=3302&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="">
<% include partials/footer %>